<p class="text-uppercase fw-bold text-center">hacker news </p>

<div class="progress-spinner text-center" *ngIf="dataLoaded">
    <p-progressSpinner></p-progressSpinner>
</div>
<p-table  #dt1 
    [value]="hackNewData" 
     
    [paginator]="true" 
    [rows]="10" 
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
    [globalFilterFields]="['title']">
    <ng-template pTemplate="caption">
        <div class="flex">  
            <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>                   
            <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>&nbsp;&nbsp;
                <input pInputText type="text" [(ngModel)]="searchValue" (input)="dt1.filterGlobal($any($event.target).value, 'contains')" 
                placeholder="Search keyword" />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr> 
            <th>Title </th>
            <th>Url</th>
        </tr>
    </ng-template>
     <ng-template pTemplate="body" let-item>
        <tr> 
            <td>{{item.title}}</td>
            <td><a target="_blank" rel="noopener" href={{item.url}}>{{item.url}}</a></td>
        </tr>
    </ng-template>
</p-table>